body {
    background: lightgray;
}

.center-control {
    max-width: 500px;
    margin: 0 auto;
}

.content {
    display: block;s
    width: 100%;
    background: gray;
}

#racetrack {
    position: relative;
    width: 80%;
    height: 400px;
    background: black;
    margin: auto;
    display: block;
}

#racetrack .charity {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("https://media.giphy.com/media/109Ku3hdapZJle/giphy.gif");
    background-size: 80px 80px;
    background-clip: content-box;
    background-repeat: no-repeat;
    display: block;
}